/* Asides */

.story {
	
	figure.aside {
		
		padding: 0 0 0 1rem;
		color: $gray-darker;

	}
	
	figure.alignright,
	figure.alignleft {
		background: -webkit-linear-gradient(top, $gray-lightly 0%, transparent 50%, transparent 100%);
		border-bottom: 5px $gray-lightly solid;
		//background: white;
	}
		
	aside,
	.aside,
	.pullquote,
	figure.alignright {
		
		border-top: 0px $gray-darker solid;
		padding: 5px;
		margin: 0 0 1em 0em;
		width: 50%;
		box-sizing: border-box;
		
	}
	
	figure.alignleft {
		
		border-top: 5px #2a3033 solid;
		border-bottom: 5px #2a3033 solid;
		padding: 1rem 0;
		margin: 0 1em 0 0em;
		width: 50%;
		box-sizing: border-box;
		
	}
		
	.pullquote {
		
		font-size: 1.5em;
		line-height: 1.2em;
		width: 50%;
		
	}
	
	.wp-caption {
		font-size: .9em;
		color: $gray-dark;
		line-height: 1.1em;
	}
			
}
	
.size-gt-small .story {
	
	aside,
	.aside,
	.pullquote,
	figure.alignright {
		
		margin: 0 0 1em 1em;
		xmargin-right: -198px;
		margin-right: -33%;
		float: right;
		
	}
	
}
	
.size-lt-medium .story {
	
	aside,
	.aside,
	.pullquote {
		
		width: 100%;
		clear: both;
		margin-bottom: 1em;
		
		}
	
	.alignright {
		
		float: none;
		
		}
	
	}
	
