/* Asides */

.story {
	
	figure.aside {
		
		padding: 0 0 0 1rem;
		color: $gray-darker;

	}
		
	aside,
	.aside,
	.pullquote {
		
		border-left: 5px #2a3033 solid;
		padding: 0 0 0 1rem;
		margin: 0 0 1em 0em;
		width: 50%;
		box-sizing: border-box;
		//background: green;
		
	}
		
	.pullquote {
		
		font-size: 1.5em;
		line-height: 1.2em;
		width: 50%;
		
	}
			
}
	
.size-gt-small .story {
	
	aside,
	.aside,
	.pullquote {
		
		margin: 0 0 1em 1em;
		xmargin-right: -198px;
		margin-right: -33%;
		float: right;
		
	}
	
}
	
.size-lt-medium .story {
	
	aside,
	.aside,
	.pullquote {
		
		width: 100%;
		clear: both;
		margin-bottom: 1em;
		
		}
	
	.alignright {
		
		float: none;
		
		}
	
	}
	
