
.single.categorized-rock-doc,
.single.tagged-rock-doc {
	
	.main-header {
	
		.header-group {
		
			sup {
				
				padding-right: 20px;
			}
			
			sub {
				
				color: white;
				position: relative;
				width: 99px;
				//background: green;
				right: 0;
				padding: 0;
				
			}
						
			sub span {
				
				transform: rotate(-90deg);
				transform-origin: left top;
				position: relative;
				display: block;
				height: 99px;
				width: 99px;
				overflow: visible;
				//background: gold;
				display: block;
				padding: 0px;
				right: 0px;
				top: 99px;
				text-indent: -9000px;
				
			}
			
			sub span::before {
				
				color: $gray-darker;
				font-size: 1.7rem;
				content: "Rock Doc";
				color: white;
				display: block;
				//background: purple;
				position: absolute;
				text-indent: 0;
				left: 0;
				text-align: center;
				font-family: "Open Sans Condensed";
				font-weight: bold;
				text-transform: uppercase;
				width: 56px;
				line-height: 1em;
				margin-left: 20px;
				padding: 20px 0px;
				border-top: 5px white solid;
				
			}
		}
	}
}

.categorized-perspectives,
.tagged-perspectives,
.categorized-wsu-in-the-media,
.categorized-releases {
	
	.article-meta::after {
		//position: absolute;
		@include condensed;
		font-weight: bold;
		display: inline-block;
		background: $gray;
		color: white;
		right: 0;
		float: right;
		width: 50%;
		padding: 5px;
		margin-top: -5px;

	}
}

$columns: ( 
	"rock-doc": "Rock Doc",
	"perspectives": "Perspectives",
	"dr-universe": "Ask Dr. Universe",
	"wsu-in-the-media": "In the Media",
	"releases": "Press Releases"
	);
	
@each $slug, $column in $columns {
	article.category-#{$slug} .article-meta::after {
    	content: "#{$column}";
    }
    .single.categorized-#{$slug} .article-meta::after {
    	content: "#{$column}";
    }
}



x.single.categorized-rock-doc,
x.single.tagged-rock-doc {
	
	.main-header {
	
		.header-group {
		
			sup {
				
				padding-right: 20px;
			}
			
			sub {
				
				color: white;
				position: relative;
				width: 99px;
				//background: green;
				right: 0;
				padding: 0;
				
			}
						
			sub span {
				
				transform: rotate(-90deg);
				transform-origin: left top;
				position: relative;
				display: block;
				height: 99px;
				width: 99px;
				overflow: visible;
				//background: gold;
				display: block;
				padding: 0px;
				right: 0px;
				top: 99px;
				text-indent: -9000px;
				
			}
			
			sub span::before {
				
				color: $gray-darker;
				font-size: 1.7rem;
				content: "Rock Doc";
				color: white;
				display: block;
				//background: purple;
				position: absolute;
				text-indent: 0;
				left: 0;
				text-align: center;
				font-family: "Open Sans Condensed";
				font-weight: bold;
				text-transform: uppercase;
				width: 56px;
				line-height: 1em;
				margin-left: 20px;
				padding: 20px 0px;
				border-top: 5px white solid;
				
			}
		}
	}
}