
[class*="-rock-doc"],
[class*="-releases"],
[class*="-perspectives"],
[class*="-in-the-media"],
[class*="-releases"] {
	
	.article-header {
		
		.article-meta::before {
			//position: absolute;
			@include condensed;
			font-weight: bold;
			display: inline-block;
			background: $gray-light;
			color: white;
			position: static;
			//right: 0;
			//float: right;
			//width: 50%;
			padding: 5px;
			//margin-top: -5px;
			width: auto;
			height: auto;
	
		}
	}
}

$columns: ( 
	"rock-doc": "Rock Doc",
	"perspectives": "Perspectives",
	"dr-universe": "Ask Dr. Universe",
	"wsu-in-the-media": "In the Media",
	"wsu-press-releases": "Press Release"
	);
	
@each $slug, $column in $columns {
	article.category-#{$slug} .article-header .article-meta::before,
	.single.categorized-#{$slug} .article-header .article-meta::before {
    	content: "#{$column}";
    }
}

body:not(.single) .category-wsu-in-the-media .article-title {
	display: none;
	
}

/* Authors */

$authors: (
	"cynking": ", WSU News",
	"rstrenge": ", WSU News",
	"jcvd": ", WSU News",
	"letizia": ", WSU Libraries",
	"eric-sorensen": ", Science Writer, Washington State University"	
);

@each $username, $author in $authors {
	
	a[href*="#{$username}"]:after {
		content: "#{$author}";
		
	}
}

