.today-tomorrow {
	margin-bottom: 2rem;
}

.today-tomorrow dt.today,
.today-tomorrow dt.tomorrow {
	float: left;
	}
.today-tomorrow dl,
.today-tomorrow dt,
.today-tomorrow dd {
	padding: 0;
	box-sizing: border-box;
	}
.today-tomorrow dt.today,
.today-tomorrow dt.tomorrow,
header.headlines {
	color: #d6dada;
	color: #5e6a71;
	padding-bottom: 5px;
	font-family: "Open Sans Condensed";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;
	display: block;
	}

.today-tomorrow dt.tomorrow {
	color: #d6dada;
	xborder-left: 5px #d6dada solid;
	padding-left: 5px;
	xdisplay: none;
	}
.today-tomorrow dt.tomorrow:hover {
	color: #626a71;
	cursor: pointer;
	}
.today-tomorrow dl.event {
	xbackground-color: #d6dada;
	margin-bottom: 5px;
	clear: both;
	border-top: 5px #d6dada solid;
	padding-top: 10px;
	padding-bottom: 5px;
	}
	
.today-tomorrow dl dt,
.today-tomorrow dl dd {
	display: block;
	}
.today-tomorrow dl.event {
	display: flex;
	display: -webkit-flex;
	line-height: 1em;
	}
.today-tomorrow dl.event dt,
.today-tomorrow dl.event dd {
	xdisplay: flex;
	}
.today-tomorrow dl.event dt {
	-webkit-order: 2;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	}

.today-tomorrow dl.event dd {
	width: 110px;
	-webkit-order: 1;
	}

.today-tomorrow dl.event:nth-of-type(even) dt {
	-webkit-order: 1;
	}

.today-tomorrow dl.event:nth-of-type(even) dd {
	-webkit-order: 2;
	}

.today-tomorrow dl.event time {
	xposition: absolute;
	xleft: 0px;
	xtop: 20px;
	padding-right: .5rem;
	color: #b5babe; /* Gray Lighter */
	position: relative;
	}

.today-tomorrow a:hover dl.event time {
	color: #8d959a; /* Gray Light */
	color: #5e6a71 /* Gray */
	}

.today-tomorrow dl dd time .hour {
	font-size: 3rem;
	line-height: 1em;
	}

.today-tomorrow dl dd time .hour {
	text-transform: uppercase;
	}

.meridiem {
	display: none;
	position: absolute;
	display: block;
	xbackground: #8d9499;
	xcolor: white;
	bottom: 0px;
	right: 0px;
	xopacity: .5;
	font-family: "Open Sans Condensed";
	font-weight: bold;
	font-size: 10px;
	padding: 2px;
	line-height: 1em;
	}

.today-tomorrow a {
	color: #626a71;
	display: block;
	clear: both;
	}

.today-tomorrow a:hover .event-title {
	color: #981e32;
	}

.today-tomorrow .event-title {
	padding: 4px 0px;
	display: block;
	}
	
.today-tomorrow dl dt address {
	text-transform: uppercase;
	font-size: .8em;
	line-height: 1em;
	color: #d7dadb;
	color: #b5babe;
	font-weight: normal;
	display: block;
	xpadding: 5px 0px;
	}
.today-tomorrow a:hover dt address {
	color: #5e6a71;
	}