body.single,
body.single #jacket {
	background: $gray-darker;
	}

body.single {
	background: white !important;
	}
	
.page-template-margin-right .size-gt-large .max-1188 .column.one {
	width: 792px;
	}

blockquote p:last-of-type {
	padding-bottom: 0;
	}
.single .article-byline {
	text-transform: uppercase;
	margin-bottom: 1rem;
	margin-top: 1.2rem;
	line-height: 1.1em;
	}
.single .article-byline a {
	color: #2a3033;
	}
.single .article-byline a:hover {
	color: #981e32;
	}
.single .article-title h1 {
	margin-bottom: 0 !important;

	}
.single .article-author .affiliation {
	text-transform: none;
	}
.single .article-author .affiliation:before {
	content: "\2299";
	content: "\25A0";
	content: ",\00A0";
	xmargin-right: 3px;
	margin-left: -3px;
	display: inline-block;
	position: relative;
	top: -1px;
	
	}
	


.wp-caption { max-width: 100%; }

x.single .column.two {
	clear: both;
	width: 100%;
	background: white;
	}
.single .column.two {
	background: white;
	}

body.single main {
	overflow-x: hidden;
	}
body.single #binder {
	background: #f9f9f9;
	}
.single .article-title h1 {
	margin-top: .5em;
	margin-bottom: .5em;
	border-bottom: 5px #b5babe solid;
	border-bottom: 5px #2a3033 solid;
	font-size: 4em;
	letter-spacing: -2px;
	line-height: .9em;
	}
.single .size-gt-large .article-title,
.single .size-gt-medium .article-title {
	margin-right: -33%;
	margin-right: -198px;
	}

.single .byline {
	display: block;
	
	xbackground: #b5babe;
	padding: 2px 4px;
	}
.single .location {
	color: #b5babe;
	color: #8d959a; /* Gray Light */
	color: black;
	display: inline-block;
	xpadding-right: 5px;
	margin-right: 0px;
	xborder-right: 0px black solid;
	
	font-weight: bold;
	}
.single .location:after {
	content: "\033E";
	content: "\223F";
	content: "\0C02";
	content: "\2316";
	content: "\301C"; /* Wave Dash */
	content: "\224B"; /* Triple Tilde */
	display: inline-block;
	margin-left: 4px;
	margin-bottom: 1px;
	}
	

	
.single main {
	position: relative;
	}

.single.has-featured-image .main-header {
	position: absolute;
	top: 200px;
	z-index: 100;
	height: auto;
	overflow: visible;
	width: 75%;
	height: 200px;
	background: transparent;
	box-sizing: border-box;
	}

.single.has-featured-image .main-header .header-group {
	bottom: 0;
	height: auto;
	padding: .25rem .25rem .25rem 4rem;
	background: $crimson;
	}
	
.single.categorized-events-and-exhibit:not(.has-featured-image) .main-header:before,
.single.categorized-events-and-exhibit .featured-image:before {
	content: "Press";
	}
	

.single .column.two ul {
	padding: 0px;
	}
	
	
/* Footer Sections */
.main-footer .section {
	position: relative;
	clear: both;
	width: 100%;
	}
.main-footer .section ~ section {
	clear: none !important;
	max-width: 50% !important;
	float: left;
	}

.main-footer .articles-continued > header:first-child {
	display: none;
	}

.main-footer .section .section-header {
	height: auto;
	width: calc( 100% - 4rem);
	position: relative;
	background: transparent;
	left: 0;
	right: auto;
	height: 0px;
	//margin-bottom: 10px;
	//margin-top: 15px;
	//margin-left: 10px;
	
	}
.main-footer:not(.x) .section .section-header:hover {
	cursor: auto;
	background: transparent;
	}
.size-lt-xlarge .section.crimson .section-header::before {
	content: "";
	}

.main-footer:not(.x) .section.crimson .section-header,
.main-footer:not(.x) .section.crimson .section-header:hover {
	color: $crimson;
	border-top: 5px $crimson solid;
	}
	
.main-footer:not(.x) .section.yellow .section-header,
.main-footer:not(.x) .section.yellow .section-header:hover {
	color: $yellow;
	border-top: 5px $yellow solid;
	}
	
.main-footer:not(.x) .section.blue .section-header,
.main-footer:not(.x) .section.blue .section-header:hover {
	color: $blue;
	border-top: 5px $blue solid;
	}
	
.main-footer:not(.x) .section.orange .section-header,
.main-footer:not(.x) .section.orange .section-header:hover {
	color: $orange;
	border-top: 5px $orange solid;
	}
	
.main-footer:not(.x) .section.green .section-header,
.main-footer:not(.x) .section.green .section-header:hover {
	color: $green;
	border-top: 5px $green solid;
	}

.main-footer .section .section-header .section-title {
	transform: rotate(90deg);
	transform-origin: left top;
	right: auto;
	left: 50px;
	top: 0;
	//position: relative;
	font-size: 2rem;
	font-family: "";
	padding-left: 1.1rem;
	xtext-transform: none;
	}
	

.main-footer .enclosure .articles {
	padding-top: .25rem;
	padding-bottom: 1rem;
	}	
	
.main-footer .enclosure .articles article {
	padding-top: .25rem;
	padding-bottom: .25rem;
	}	

.main-footer .enclosure .column.one {
	padding-left: 4rem;
	padding-right: 4rem;
	}

.main-footer .section .article-header .article-meta,
.main-footer .section .article-header .article-byline {
	display: none;
	}

.main-footer .section article:nth-of-type(4) ~ article {
	display: none;
	}

.main-footer .section .article-title {
	margin-right: 0px;
	}

.main-footer .section .article-title h2 {
	font-size: 1rem;
	letter-spacing: 0;
	}
.main-footer .section .article-summary,
.main-footer .section .article-body,
.main-footer .section .article-footer {
	display: none;
	}
	


.main-footer .section .column {
	min-height: 1px !important;
	}
