@import 'global/colors';

body {
	
	&:not(.single) {
	
		.article-footer {
		
			.categorized dt,
			.categorized dd,
			.tagged {
				display: none;
			}
			
			dd::after {
				content: "";
			}
		
		}
	
	}
		
	&.page-campuses .categorized,
	.section.yellow .categorized {
		
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -5px;
		
		//dd[class*="pullman"],
		dd[class*="spokane"],
		dd[class*="tri-cities"],
		dd[class*="vancouver"],
		dd[class*="global"],
		dd[class*="everett"] {
			
			display: block;
			float: right;
			padding: 0;
			
			a {
				color: white;
				background: $gray-lightly;
				padding: 0px 6px;
				display: block;
			}
		
		}
		
	}
	
}

.articles,
.stories {
	
	.article-footer {
		
		display: none;
		
	}
	
}


.single article,
.single article header {
	background-image: none;
	background-size: 0 0;
}

.main-body div:not(.article-featured) article,
.main-body div:not(.article-featured) article header {
	background-size: 0 0;
	background-repeat: no-repeat;
}

.main-body article {
	
	//width: 49%;
	//margin-right: 1%;
	
}

.xmain-body article ~ article.has-featured-image {
	
	width: 49%;
	float: left;
	//background-size: auto 100%;
	//background-position: 400px top;
	//padding-right: 40%;
	//margin-right: 1%;
	
	.article-summary,
	.xarticle-thumbnail {
		display: none;
		
	}
	
	.article-thumbnail {
		float: none;
		width: 100% !important;
		margin: 0 !important;
	}
	
	+ article:not(.has-featured-image) {
		//clear: both;
	}
	
}

.main-body article ~ article.has-featured-image {
	
	.carticle-summary,
	.xarticle-thumbnail {
		display: none;
	}
	
	.article-summary {
		//margin-right: calc(198px + 1rem);
	}
	
	x.article-thumbnail {
		float: none;
		width: 100% !important;
		margin: 0 !important;
	}
	
	+ article:not(.has-featured-image) {
		//clear: both;
	}
	
}

	
.main-body .articles article:not(.has-post-thumbnail):first-of-type {
	margin-top: 150px;
}

.articles {
	padding: 0 2rem;
	overflow: hidden;
	padding-bottom: 50px;

}

article .article-byline {
	margin-bottom: 5px;
}
	
article .article-thumbnail img {
	//border-bottom: 5px $gray-darker solid;
}
	
article.has-thumbnail-image .article-thumbnail {
	width: 198px;
}




/* Thumbnails */

body.single article .article-thumbnail {
	display: none;
	}

.has-post-thumbnail .article-summary img,
.has-post-thumbnail .article-summary figure {
	display: none;
	}

/* Stories Meta */

.main-body {

	article {
		
		padding-top: 1.5rem;
		padding-bottom: 1rem;
		position: relative;
		
		header {
			
			.article-meta {
				text-transform: uppercase;
				font-size: .8em;
				line-height: 1em;
				color: #8d959a;
				margin-bottom: .75rem;
			
				&::before {
					content: "";
					display: inline-block;
					height: 10px;
					width: 10px;
					margin-right: 3px;
					background: $gray-light;
				}
				
				time {
					
					padding-top: 5px;
					
					&::before {
						display: none;
					}
				
					span {
						display: none;
					}
						
					span.default {
						display: inline-block;
					}
				
				}
			
			}
			
			.article-title h2 {
				font-size: 1.75em;
				@include serif;
				font-weight: normal;
				text-shadow: 0 1px 0 #FFFFFF;
				margin-bottom: .25rem;
				padding-top: 0;
			}
						
			cite::before {
				text-transform: none;
				font-weight: normal;
				font-style: italic;
				content: "By ";
				@include serif;
			}
			
			cite a {
				color: #8d959a;
			}
			

			
			.article-byline {
				line-height: 1.1em;
				margin-bottom: .5rem;
			}
				
		}
		
		.article-summary {
			
			line-height: 1.3em;
			//display: none;
			
			p {
				padding-bottom: 0;
				display: inline;
				clear: none;
			}
			
		}
		
		a.more-link {
			position: relative;
			white-space: nowrap;
		}
			
		a.more-link:before {
			content: "";
			position: relative;
			display: inline-block;
			background: $gray-darker;
			box-shadow: 0 6px 0 0 $gray-darker, 0 12px 0 0 $gray-darker;
			left: 0px;
			bottom: 10px;
			width: 3px;
			height: 3px;
		}
		
		a.more-link:after {
			content: "Continued";
			display: inline-block;
			text-transform: uppercase;
			font-size: .8em;
			color: $gray-darker;
			font-weight: bold;
			padding-left: 5px;
		}
		
		a.more-link:hover::before {
			background: $crimson;
			box-shadow: 0 6px 0 0 $crimson, 0 12px 0 0 $crimson; 
		}
		
		a.more-link:hover::after {
			color: $crimson;
		}
		
		a span.more-default,
		a span.content-more-default {
			display: none;
		}
		
		.article-footer {
			clear: both;
			border-top: none;
		}
		
		~ article {
			//padding-bottom: 1.5rem;
			border-top-width: 5px;
			border-top-style: solid;
			border-top-color: #d6dada;
			}
		
	}

}

/* Category */

.archive,
.category {
	
	.main-header {
	
		.header-group {
			
			max-width: 99164px;
			white-space: nowrap;
			
		}
	
	}
	
	.main-header sup {
		
		display: inline-block;
		
	}
	
	.main-header sub {

		display: inline-block;
		color: darken($crimson-dark, 5%);
		@include condensed;
		//font-weight: bold;
		//font-weight: normal;
		text-transform: uppercase;
		font-size: 4rem;
		font-weight: bold;
		font-style: normal;
		//padding-left: 15px;
		position: relative;

	}
	
	.xmain-header sub:before {
		
		content: "";
		display: inline-block;
		width: 10px;
		height: 10px;
		background: white;
		box-shadow: 0 -18px 0 0 white, 0 -36px 0 0 white;
		position: absolute;
		left: 0;
		bottom: 8px;

	}
	
	.size-gt-medium {
	
		.main-header {
			
			width: 99px;
			height: 100vh;
			position: fixed;
			
		}
		
		.header-group {
			
			transform: rotate(90deg);
			transform-origin: left top;
			position: absolute;
			width: 100vh;
			bottom: auto;
			padding-left: 0px;
			padding-bottom: 0px;
			top: 1rem;
			left: 80px;
			
		}
		
		.column.one {
			
			margin-left: calc( 99px );
			
		}
	
	}
	
	article ~ article {
		
		//margin-top: 2rem;
		padding-top: 2rem;
	
	}
	
	.article-byline {
		margin: .5rem 0;
		}
	
	.article-title h2 {
		
		font-size: 2.5rem;
		
	}
	
}

.paging,
.archive-footer {
	
	margin-top: 2rem;
	display: none;
	
	.page-numbers {
		display: inline-block;
		padding: 3px;
		border-top: 5px $gray-lighter solid;
		
		&.current {
			color: $crimson;
			border-top-color: $crimson;
		}
		
		&.prev, &.next {
			border-top-color: transparent;
		}
	
	}
		
	a.page-numbers {
		color: $gray-lighter;
	}
	
	a.page-numbers:hover {
		color: $crimson;
		border-top-color: $crimson;
	}
	
	@each $color, $value in $primary_colors {
		.#{$color} & span.page-numbers.current,
		.#{$color} & a.page-numbers:hover {
	    	color: #{$value};
	    	border-top-color: #{$value};
	    }
	}

}

#temp_load {
  margin: 15px auto 15px;
  width: 70px;
  text-align: center;
}

#temp_load > div {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: $gray-lighter;
  //border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#temp_load .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

#temp_load .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}