body.single,
body.single #jacket {
	background: black;
	}

.single main:before {
	
	}

body.single {
	background: white !important;
	}

blockquote p:last-of-type {
	padding-bottom: 0;
	}
.single .article-byline {
	text-transform: uppercase;
	margin-bottom: 1rem;
	margin-top: 1.2rem;
	line-height: 1.1em;
	}
.single .article-byline a {
	color: #2a3033;
	}
.single .article-byline a:hover {
	color: #981e32;
	}
.single .article-title h1 {
	margin-bottom: 0 !important;
	}
.single .article-author .affiliation {
	text-transform: none;
	}
.single .article-author .affiliation:before {
	content: "\2299";
	content: "\25A0";
	content: ",\00A0";
	xmargin-right: 3px;
	margin-left: -3px;
	display: inline-block;
	position: relative;
	top: -1px;
	
	}

.wp-caption { max-width: 100%; }

x.single .column.two {
	clear: both;
	width: 100%;
	background: white;
	}
.single .column.two {
	background: white;
	}

body.single main {
	overflow-x: hidden;
	}
body.single #binder {
	background: #f9f9f9;
	}
.single .article-title h1 {
	margin-top: .5em;
	margin-bottom: .5em;
	border-bottom: 5px #b5babe solid;
	border-bottom: 5px #2a3033 solid;
	font-size: 4em;
	letter-spacing: -2px;
	line-height: .9em;
	}
.single .size-gt-small .article-title h1 {
	margin-right: -33%;
	}

.single .byline {
	display: block;
	
	xbackground: #b5babe;
	padding: 2px 4px;
	}
.single .location {
	color: #b5babe;
	color: #8d959a; /* Gray Light */
	color: black;
	display: inline-block;
	xpadding-right: 5px;
	margin-right: 0px;
	xborder-right: 0px black solid;
	
	font-weight: bold;
	}
.single .location:after {
	content: "\033E";
	content: "\223F";
	content: "\0C02";
	content: "\2316";
	content: "\301C"; /* Wave Dash */
	content: "\224B"; /* Triple Tilde */
	Xfont-weight: normal;
	xheight: 10px;
	xwidth: 10px;
	display: inline-block;
	xmargin-right: 3px;
	margin-left: 4px;
	margin-bottom: 1px;
	xbackground: black;
	xfont-size: 30px;
	}
	
.single .main-header {
	left: auto;
	right: 0;
	width: auto;
	}
.single .main-header .header-group {
	display: none;
	}
.single:not(.has-featured-image) .main-header:before,
.single .featured-image:before {
	content: "News";
	text-transform: uppercase;
	display: inline-block;
	color: white;
	font-family: "Open Sans Condensed";
	font-size: 3rem;
	padding: .5rem 1rem .5rem 4rem;
	line-height: 1em;
	font-weight: bold;
	display: block;
	width: 67%;
	}
.single:not(.has-featured-image) .main-header:before {
	padding: 3.5rem 1rem .5rem 4rem;
	}
.single .featured-image:before {
	right: auto;
	left: 0px;
	bottom: 0px;
	position: absolute;
	background: #981e32;
	
	box-sizing: border-box;
	}
	
.single.categorized-events-and-exhibit:not(.has-featured-image) .main-header:before,
.single.categorized-events-and-exhibit .featured-image:before {
	content: "Press";
	}
	
x.single .main-header:after {
	content: ": Cat";
	text-transform: uppercase;
	}
.single .column.two ul {
	padding: 0px;
	}
	
/* Side Sections */
.side-sections li {
	border-top: none;
	list-style: none;
	}
.side-sections li a,
.column.two .widget header {
	font-weight: 300;
	font-size: 2rem;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	display: block;
	line-height: 1.2em;
	}
.side-sections ul {
	margin-top: 5px;
	}
.column.two .widget {
	margin-top: 1rem;
	}
.side-sections li.crimson a {
	color: #981e32;
	border-bottom-color: #981e32;
	}
.side-sections li.yellow a {
	color: #c69214;
	border-top-color: #c69214;
	}
.side-sections li.blue a {
	color: #4f868e;
	border-top-color: #4f868e;
	}
.side-sections li.orange a {
	color: #b67233;
	border-top-color: #b67233;
	}
.side-sections li.green a {
	color: #8f7f35;
	border-top-color: #8f7f35;
	}
.side-sections li li {
	xdisplay: none;
	display: inline-block;
	}
.side-sections ul ul li ~ li {
	list-style: disc;
	}
.side-sections li.crimson li a,
.side-sections li.yellow li a,
.side-sections li.blue li a,
.side-sections li.orange li a,
.side-sections li.green li a,
.side-sections li.green li a,
aside.widget li a {
	font-size: 1rem;
	color: gray;
	border-bottom: none;
	display: block;
	}
.side-sections li li a:hover,
aside.widget li a:hover {
	color: #981e32;
	color: #2a3033;
	}
	
/* Side Sections */
.footer-sections li {
	border-top: none;
	list-style: none;
	}
.footer-sections li ul {
	display: none;
	}
.footer-sections li:hover ul {
	display: none;
	}
.footer-sections li a,
.column.two .widget header {
	font-weight: 300;
	font-size: 2rem;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	display: block;
	line-height: 1.2em;
	padding-left: 5px;
	}
.footer-sections ul {
	margin-top: 5px;
	}
.column.two .widget {
	margin-top: 1rem;
	}
.footer-sections li.crimson a {
	background: #981e32;
	color: white;
	border-bottom-color: #981e32;
	}
.footer-sections li.yellow a {
	background: #c69214;
	color: white;
	border-top-color: #c69214;
	}
.footer-sections li.blue a {
	background: #4f868e;
	color: white;
	border-top-color: #4f868e;
	}
.footer-sections li.orange a {
	background: #b67233;
	color: white;
	border-top-color: #b67233;
	}
.footer-sections li.green a {
	
	background: #8f7f35;
	color: white;
	border-top-color: #8f7f35;
	}
.footer-sections li li {
	xdisplay: none;
	display: inline-block;
	}
.footer-sections ul ul li ~ li {
	list-style: disc;
	}
.footer-sections li.crimson li a,
.footer-sections li.yellow li a,
.footer-sections li.blue li a,
.footer-sections li.orange li a,
.footer-sections li.green li a,
.footer-sections li.green li a,
aside.widget li a {
	font-size: 1rem;
	color: gray;
	border-bottom: none;
	display: block;
	}
.footer-sections li li a:hover,
aside.widget li a:hover {
	color: #981e32;
	color: #2a3033;
	}
