.single {

	background: white !important;
	
	#jacket {
		background: $gray-darker;
	}
	
	main {
		overflow-x: hidden;
		position: relative;
	}
	
	#binder {
		background: #f9f9f9;
	}
	
}

.page-template-margin-right .size-gt-large .max-1188 .column.one {
	width: 792px;
	}

.size-gt-small {
	
	.story {
	
		.section-tabs {
			display: none !important;
			}
			
		.main-body,
		.main-footer {
			
			width: auto;
			
		}
	
		.main-header {
			
			height: 100vh;
			width: 66px;
			position: fixed;
			background: $crimson;
			display: block;
			overflow: hidden;
			
			//z-index: 100;
			
			.header-group {
				
				bottom: auto;
				left: auto;
				max-width: auto;
				position: relative;
				padding: 0px;
				//padding: 17px 0 0 20px;
				transform: rotate(90deg);
				transform-origin: left top;
				right: -66px;
				width: 100vh;
				height: 66px;
				
				//border-left: 5px green solid;
				
			}
								
			sup,
			sub {
				
				display: block;
				//position: absolute;
				height: 66px;
				right: -66px;
				margin-top: 0;
				
				box-sizing: border-box;
				border: none;
				//padding-top: 18px;
				float: left;
				
			}
			
			sup {
				
				//background: orange;
				padding-right: 10px;
				
				
			}
			
			sub span {
				
				display: none;
				
			}
			
			& .single.has-featured-image sub {
				
				//top: 400px
				
			}
	
		}
		
		.main-body,
		.main-footer {
			
			margin-left: 66px;
			margin-right: 60px;
			
		}
		
	}
		
	.featured-image {
	
		margin-left: 66px;
		width: calc( 100% - 66px );
		//background-attachment: fixed;
	
	}
	
	.has-featured-image &.size-large .story {
		
		.main-header .header-group {

			//padding-left: 445px;
			//background: green;
					
		}
		
		.featured-image {
			
			margin-left: 0px;
			width: 100%;
		
		}
		
	}
	
}


.story {
	
	.main-body .article-meta,
	.main-body .article-title {
		margin-bottom: 1.5rem;
	}
		
	.main-body .article-title h1 {
		border-bottom: 5px #2a3033 solid;
		font-size: 4em;
		letter-spacing: -2px;
		line-height: .9em;
	}
		
	.article-byline {
		
		text-transform: uppercase;
		margin-bottom: 1rem;
		line-height: 1.1em;
	
		
		a {
			color: #2a3033;
		}
		
		a:hover {
			color: #981e32;
		}
		
		.article-author .affiliation {
			text-transform: none;
		}
		
		.article-author .affiliation:before {
			content: "\2266";
			content: "\25A0";
			content: ",\00A0";
			margin-left: -3px;
			display: inline-block;
			position: relative;
			top: -1px;
		}
		
	}
	
	.location {
		color: $gray-light;
		color: black;
		display: inline-block;
		margin-right: 0px;
		font-weight: bold;
		}
	
	.location:before {
		content: "\E6D0";
		font-family: "Spine-Icons";
		line-height: 1.2em;
		display: inline-block;
		margin-right: 4px;
		padding-bottom: 1px;
		}
		
	blockquote p:last-of-type {
		padding-bottom: 0;
	}
	
}

.spine-share-position {
	float: right;
	margin-right: 10px;
	margin-top: 15px;
	width: 40px;
	}
.spine-share.looseleaf {
	padding: 0px;
	margin: 0px;
	position: fixed;
	}
.spine-share.looseleaf li {
	list-style: none;
	display: block;
	padding: 0px;
	margin: 0px
	}
.spine-share.looseleaf li a {
	color: $gray-lighter;
	border-bottom: none;
	width: 40px;
	height: 40px;
	padding: 0;
	font-size: 1.5em;
	line-height: 1.4em;
	display: block;
	}
.spine-share.looseleaf li a:hover {
	margin: 0px;
	background-color: transparent;
	color: $crimson !important;
	text-align: center;
	}

.wp-caption { max-width: 100%; }

x.single.has-featured-image .main-header {
	position: absolute;
	top: 200px;
	z-index: 100;
	height: auto;
	overflow: visible;
	width: 75%;
	height: 200px;
	background: transparent;
	box-sizing: border-box;
	}

x.single.has-featured-image .main-header .header-group {
	bottom: 0;
	height: auto;
	padding: .25rem .25rem .25rem 4rem;
	background: $crimson;
	}
	
.single .column.two ul {
	padding: 0px;
	}
	
/* Main Footer */

.pager.prevnext {
	
	margin: 1rem 0;
	border-top: 5px $gray-lightly dotted;
	//background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $gray-lightly 50%, rgba(255, 255, 255, 0) 100%);
	
	.column.one {
		border-right: 5px $gray-lightly solid;
		text-align: right;
	}
	
	a[rel="next"]:before,
	a[rel="prev"]:before {
		display: block;
		font-weight: bold;
		color: black;
	}
	
	a[rel="prev"]:before {
		content: "Previous: ";
	}
	
	a[rel="next"]:before {
		content: "Next: ";
	}
	
}
	
.main-footer .pager .column.one,
.main-footer .pager .column.two {
	padding-top: .5em;
	padding-bottom: .5em;
	}

/* Footer Sections */

.main-footer {
	
	.sections {
		padding: 0 0 0 2rem;
	}
	
	.section {
		position: relative;
		clear: both;
		width: 100% !important;
		background: transparent;
	}
	
	.section ~ section {
		//clear: none !important;
		//max-width: 50% !important;
		//float: left;
	}

	.articles-continued {
		margin-top: 0px;
	}
	
	.headlines {
		display: none;
	}
	
	.section .section-header {
		height: auto;
		width: calc( 100% - 4rem);
		position: relative;
		background: transparent;
		left: 0;
		right: auto;
		height: 0px;
	}
	
	&:not(.x) {
		
		.section .section-header:hover {
			cursor: auto;
			background: transparent;
		}
	
		.section.crimson .section-header,
		.section.crimson .section-header:hover {
			color: $crimson;
			border-top: 5px $crimson solid;
		}
			
		.section.yellow .section-header,
		.section.yellow .section-header:hover {
			color: $yellow;
			border-top: 5px $yellow solid;
		}
			
		.section.blue .section-header,
		.section.blue .section-header:hover {
			color: $blue;
			border-top: 5px $blue solid;
		}
			
		.section.orange .section-header,
		.section.orange .section-header:hover {
			color: $orange;
			border-top: 5px $orange solid;
		}
			
		.section.green .section-header,
		.section.green .section-header:hover {
			color: $green;
			border-top: 5px $green solid;
		}
		
	}
	
	.enclosure  {
		
		.articles {
			padding-top: .25rem;
			padding-bottom: 1rem;
		}	
			
		.articles article {
			padding-top: .25rem;
			padding-bottom: .25rem;
			border-top: none;
			border-bottom: 5px #d6dada solid;
		}
		
		.column.one {
			padding-left: 4rem;
			padding-right: 4rem;
		}
	
	}
	
	.section {
		
		.section-header .section-title {
			transform: rotate(90deg);
			transform-origin: left top;
			right: auto;
			left: 50px;
			top: 0;
			font-size: 2rem;
			font-family: "";
			padding-left: 1.1rem;
			position: absolute;
		}
		
		.article-header .article-meta,
		.article-header .article-byline {
			display: none;
		}
		
		&:not(.crimson) article:nth-of-type(3) ~ article {
			display: none;
		}
		
		&.crimson article:nth-of-type(5) ~ article {
			display: none;
		}
			
		&.crimson article:nth-of-type(5) {
			border-bottom: none;
		}
		
		.article-title {
			margin-right: 0px;
		}
		
		.article-title h2 {
			font-size: 1rem;
			letter-spacing: 0;
			text-shadow: none;
		}
		
		.article-summary,
		.article-body,
		.article-footer {
			display: none;
		}
		
		.section-link {
			text-transform: uppercase;
			padding-top: 7px;
			display: block;
			font-size: .8em;
		}
		
		.column {
			min-height: 1px !important;
		}
	
	}
	
}
