body:not(.single) .article-footer {
	display: none;
	}
.article-footer {
	clear: both;
	}

.single article,
.single article header {
	background-image: none;
	}
main div:not(.article-featured) article,
main div:not(.article-featured) article header {
	background-size: 0 0;
	}


.articles {
	xmax-width: 100%;
	padding: 0 2rem;
	overflow: hidden;
	padding-bottom: 50px;
	}
	
.articles article:first-of-type.not-featured-image {
	margin-top: 150px;
	}
	
.article-title h2 {
	font-size: 1.75em;
	@include serif;
	font-weight: normal;
	text-shadow: 0 1px 0 #FFFFFF;
	}


	
article .article-summary p {
	padding-bottom: 0;
	display: inline;
	clear: none;
	}
article .article-byline {
	margin-bottom: 5px;
	}
	
article .article-thumbnail img {
	border-bottom: 5px $gray-darker solid;
	}
	

article.has-thumbnail-image .article-thumbnail {
	width: 198px;
	}

section.local .category-wsu-spokane-news:before {
	content: "Spokane";
	background: #77580c;
	color: #e5cd93;
	text-transform: uppercase;
	padding: 2px 6px;
	}
	
.articles article {
	padding-bottom: 15px;
	}
.articles-continued {
	margin-top: 25px;
	}
.articles article ~ article,
.articles-continued article {
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #d6dada;
	}


/* Thumbnails */
body.single article .article-thumbnail {
	display: none;
	}

.article-summary img {
	display: none;
	}

/* Stories Meta */



article header time::before {
	display: none;
	}
article header .article-meta {
	text-transform: uppercase;
	font-size: .8em;
	line-height: 1em;
	color: #8d959a;
	}
article header .article-meta:before {
	content: "";
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-right: 3px;
	background: #b5babe;
	background: #d7dadb;
	}
article header cite a {
	color: #8d959a;
	}
article header .article-meta time span {
	display: none;
	}
article header .article-meta time span.default {
	display: inline-block;
	}
	
article header cite::before {
	text-transform: none;
	font-weight: normal;
	font-style: italic;
	content: "By ";
	@include serif;
	}
	
.articles article {
	padding-top: 1rem;
	}
.articles .article-featured article {
	padding-top: 0;
	}
article a.more-link {
	position: relative;
	white-space: nowrap;
	}
article a.more-link:before {
	content: "";
	position: relative;
	display: inline-block;
	background: $gray-darker;
	box-shadow: 0 6px 0 0 $gray-darker, 0 12px 0 0 $gray-darker;
	left: 0px;
	bottom: 10px;
	width: 3px;
	height: 3px;
	}
article a.more-link:after {
	content: "Continued";
	display: inline-block;
	text-transform: uppercase;
	font-size: .8em;
	color: $gray-darker;
	font-weight: bold;
	padding-left: 5px;
	}
article a.more-link:hover::before {
	background: $crimson;
	box-shadow: 0 6px 0 0 $crimson, 0 12px 0 0 $crimson; 
	}
article a.more-link:hover::after {
	color: $crimson;
	}
article a span.content-more-default {
	display: none;
	}

