
table.tablepress {
	
	tr,td {
			
			display: block;
			float: left;
			border-top: none;
			
		}
		
		tr {
			
			clear: both;
			width: 100%;
			
		}
		
	thead {
		
		display: none;
		
		th {
			
			background-color: transparent;
			border-bottom: none;
			
		}
		
	}
	
	tbody {
		
		tr {

		}
		
		td:empty {
			display: none;	
		}
		
		.column-1 {
			
			@include serif;
			font-size: 2.5rem;
			line-height: 1em;
			padding: 0;
			border-top: 5px $gray-lighter solid;
			padding-top: 15px;
			margin-top: 15px;
			
		}
		
		.column-2 {
			
			text-transform: uppercase;
			
		}
		
		.column-3,.column-4,.column-5 {
			
			float: left;
			display: inline-block;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 1em;
			
		}
		
		.column-3:before,
		.column-4:before,
		.column-5:before {
			
			color: $gray-light;
			display: inline-block;
			margin-right: 5px;
			text-transform: uppercase;
			font-size: .8em;
			
			}
		
		.column-4 {
			
			color: $crimson;
			
		}
		
		.column-3:not(:empty):before {
			
			content: "call: ";
			
		}
		
		.column-4:not(:empty):before {
			
			content: "email: ";
			
		}
		
		.column-5:not(:empty):before {
			
			content: "notes: ";
			
		}
		
		.column-6 {
			
			display: none;
			
		}
		
		.table-section-header .column-1 {
			
			font-family: "Open Sans Condensed";
			font-weight: bold;
			text-transform: uppercase;
			border-top: none;
			padding-top: 3rem;
			
		}
			
	}
	
}

.dataTables_filter {
	//float: none;
	margin-top: -30px;
	}

.dataTables_filter label {
	display: none;
}

.dataTables_filter:not(.x) input[type="search"] {
	width: 200px;
	border-radius: 0;
	font-size: 1.5rem;
	line-height: 1em;
	border: none !important;
	
}