body {
	background: $gray-darker;
	}

body main {
	font-size: 16px;
	line-height: 1.6em;
	color: #2a3033;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f9f9f9;
	}

main {
	h1, h2, h3, h4 {
		color: #2a3033;
	}
}

.main-header {
	
	background: $crimson;
	
	.header-group {
	
		width: 100%;
		box-sizing: border-box;
		
		sup {
			font-family: "Open Sans Condensed";
			font-weight: bold;
			font-size: 4rem;
		}
			
		sub {
			
			display: none;
			
		}
		
	}
	
}

.category .main-header .header-group {
	
	sup,
	sub {
		display: inline-block;
	}
	sub:before {
		// content: "| ";
	}
	
}

.size-gt-large .story.row.margin-right > .column.one {
	width: 792px;
	}

.article-title h1 {
	font-size: 1.9em;
	font-weight: normal;
	@include serif;
	line-height: 1.1em;
	}
/*.page-template h1.hero {
	margin: 2.5rem 0 .5rem;
	font-size: 6em;
	font-weight: bold;
	font-weight: 800;
	line-height: .9em;
	}
.page-template:not(.page-template-categorical) main h2,
.single main h2 {
	margin: 2.5rem 0 .5rem;
	font-weight: normal;
	font-size: 2.2em;
	line-height: 1em;
	}
.page-template:not(.page-template-categorical) main h3 {
	margin: 1em 0 .25em;
	font-weight: normal;
	font-size: 1.5em;
	text-transform: none;
	color: $gray-dark;
	line-height: 1em;
	}
.page-template:not(.page-template-categorical) main h4 {
	margin: 1em 0 .25em;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1em;
	}
*/