.size-gt-large {
	
	.sections.row.margin-right > .column.one {
		width: 693px;
		}
	x.section.crimson .row.margin-right {
		padding-right: 40px;
		}
	x.section.crimson .row.margin-right .column.one {
		width: 100%;
		}
		
	
	
	}



.size-lt-xlarge.size-gt-medium {
	
	.sections .section.crimson .row.margin-right .column.one {
			width: 100% !important;
			}
			
	}
	
.size-lt-xlarge {
	
	.section-tab {
		width: 10px;
		overflow: hidden;
		box-shadow: none;
		}
	.section-tab .section-title {
		display: none;
		}
			
	}
	


/*
.sections {
	xxwidth: 594px;
	}
.section aside {
	float: none !important;
	width: 100% !important;
	}
.section .articles {
	width: 100% !important;
	float: none;
	}
.section-side {
	min-height: 1px !important;
	}
.section.crimson aside ul ~ ul {
	display: none;
	}
.section aside:before {
	right: auto;
	left: 0px;
	position: relative;
	display: inline-block;
	color: white !important;
	}
.section aside ul:first-of-type {
	width: 50%;
	xfloat: left;
	display: inline-block;
	margin-left: 15px;
	}
.articles {
	padding-top: 0px;
	}
.section.opened .section-header {
	display: none;
	}
*/