.size-gt-large {
	
	x.sections.row.margin-right > .column.one {
		width: 693px;
		}
	x.section.crimson .row.margin-right {
		padding-right: 40px;
		}
	x.section.crimson .row.margin-right .column.one {
		width: 100%;
		}
		
	
	
	}



.size-large {
	
	.sections .section.crimson .row.margin-right .column.one {
		width: 100%;
	}
	
	.sections .section.crimson .row.margin-right .column.two {
		display: none;
	}
			
}
	
.size-lt-xlarge {
	
	x.section-tab {
		width: 10px;
		overflow: hidden;
		box-shadow: none;
		}
	x.section-tab .section-title {
		display: none;
		}
			
	}