	
.size-lt-large {
	
	#binder {
		margin: 0 0;
		xpadding-left: 10px;
		}
	x#binder main {
		margin-left: 50px;
		}

.side-section {
	font-size: 12px;
	}
	


}

.size-lt-792 {

	.sections .section {
		width: 100%;
		position: relative;
		}

	}

.size-lt-large #binder main {
	margin-left: 0px;
	}
body[class*="verso-"] .size-lt-large #binder {
	margin-left: 40px;
	}