	
.size-lt-large {
	
	#binder,
	#binder main {
		margin: 0 0;
		width: 100%;
	}
		
	.single & .main-header {
		padding-top: 60px !important;
	}

	.side-section {
		font-size: 12px;
	}
		
	x.sections .section {
		width: 100%;
		position: relative;
		clear: both;
	}
		
	#binder main {
		margin-left: 0px;
	}
	
	
	
	body:not(.single) .hybrid .row.margin-right .column.one {
		width: 100%;
		}
		
	x.hybrid .row.margin-right .row.margin-right .column.one {
		width: 75%;
		}

}

	body[class*="verso-"] .size-medium #binder {
		margin-left: 33px;
		}
	