	
.size-lt-large {
	
	#binder,
	#binder main {
		//margin-left: 0;
		//margin-right: 0;
		width: 100%;
	}
		
	.single & .main-header {
		padding-top: 60px !important;
	}

	.side-section {
		font-size: 12px;
	}
		
	#binder main {
		margin-left: 0px;
	}
	
	.section-header .section-title {
		padding-left: 75px;
	}
	
	.photo.opened figure .photo-header .photo-title {
		background-color: $gray-lightly;
	}
	
}

body:not(.single) .size-lt-large .hybrid .row.single .column.one {
		width: 100%;
}

body[class*="verso-"] .size-medium #binder {
	margin-left: 33px;
}