.size-lt-medium {
	
		
	.sections .section {
	width: 100%;
	position: relative;
	clear: both;
	}
	
	.fluid & .sections section {
		width: 100%;
		}
	
	section aside,
	.article-summary,
	.article-footer,
	article .source,
	.article-byline,
	article .article-thumbnail {
		display: none !important;
		}
	
	.story .column.one,
	.story .column.one {
		padding-left: 2em;
		}
	
	.section aside:before {
		display: none;
		}
	
	.section-side .section-title {
		font-size: 8rem;
		text-transform: uppercase;
		font-family: "Open Sans Condensed";
		font-weight: bold;
		}
	
	.section-side .section-header {
		padding-left: 1.8rem;
		}
		
	.news-section {
		padding-bottom: 2rem;
		}
		
	section article:nth-of-type(4) ~ article {
		display: none !important;
		}
		
	section .articles {
		padding-top: 0px;
		}
		
	.article-featured article header,
	.article-featured hgroup.article-title {
		height: 300px;
		}
		
	.article-featured hgroup.article-title h2 {
		width: 100%;
		}
		
	body[class*="verso-"] .size-lt-large #binder {
		margin-left: 40px;
		}
		
	.main-footer .sections {
		padding-left: 2rem;
		}
		
	.main-footer .row.gutter .column.one,
	.main-footer .row.gutter .column.two {
		padding-left: 2rem;
		padding-right: 2rem;
		}
	
}
	