.size-lt-medium {
	
	.section .enclosure.margin-right .column.one,
	.section .enclosure.margin-right .column.two {
		
		width: 100%;
	
	}
	
	.crimson,
	.yellow,
	.green,
	.orange,
	.blue {
		background: #f9f9f9;
	}
	
	.section-header {
		
		position: static;
		left: auto;
		width: 100%;
		height: auto;
		cursor: default !important;
		
		&::before {
			right: 0 !important;
		}
		
	}
	
	.section-header .section-title {
		
		height: auto;
		font-family: "Open Sans Condensed";
		font-weight: bold;
		font-size: 4rem;
		padding-left: 2rem;
		
	}
	
	.sections .section {
		
		width: 100%;
		position: relative;
		clear: both;
		left: 0 !important;
	
	}
	
	.section-tabs {
		
		display: none;
		
	}
	
	.sections:not(#x) > .column.two,
	.sections:not(#x) > .column.two {
		min-height: 1px !important;
	}
	
	.section.crimson .section-header .rotate { color: $crimson; }
	.section.yellow .section-header .rotate { color: $yellow; }
	.section.blue .section-header .rotate { color: $blue; }
	.section.orange .section-header .rotate { color: $orange; }
	.section.green .section-header .rotate { color: $green; }
	
	section aside,
	.article-summary,
	.article-footer,
	article .source,
	.article-byline,
	article .article-thumbnail {
		display: none !important;
		}
	
	.story .column.one,
	.story .column.one {
		padding-left: 2em;
		}
	
	.section aside:before {
		display: none;
		}
	
	.section-side .section-title {
		font-size: 8rem;
		text-transform: uppercase;
		font-family: "Open Sans Condensed";
		font-weight: bold;
		}
	
	.section-side .section-header {
		padding-left: 1.8rem;
		}
		
	.news-section {
		padding-bottom: 2rem;
		}
		
	.section:not(.opened) article:nth-of-type(5) ~ article {
		display: none !important;
		}
				
	section .articles {
		padding-top: 0px;
		}
		
	.article-featured article header,
	.article-featured hgroup.article-title {
		height: 300px;
		}
		
	.article-featured hgroup.article-title h2 {
		width: 100%;
		}
		
	body[class*="verso-"] .size-lt-large #binder {
		margin-left: 40px;
		}
		
	.main-footer .sections {
		padding-left: 2rem;
		}
		
	.main-footer .row.gutter .column.one,
	.main-footer .row.gutter .column.two {
		padding-left: 2rem;
		padding-right: 2rem;
		}
	
}
	