.article-featured {
	margin-bottom: 1rem;
	}
.article-featured .article-body {
	display: none;
	}
.articles .article-featured article header {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px -2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	//-webkit-filter: grayscale(100%);
    //filter: gray;
    //opacity: .4;
    height: 60vh;
	}
.article-featured hgroup.article-title {
	position: relative;
	height: 300px;
	height: 60vh;
	margin: 0px -2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	background: linear-gradient(to bottom, transparent 0%, transparent 67%, $gray-darker 100%);
	}
.article-featured hgroup.article-title h2 {
	color: white;
	position: absolute;
	bottom: 0px;
	padding-bottom: 1rem;
	//font-family: "Open Sans Condensed";
	text-transform: uppercase;
	font-weight: normal;
	font-size: 4rem !important;
	padding: 0px 0px 2rem 0px;
	width: 50%;
	line-height: .9em;
	text-shadow: 2px 0px 10px $gray-darker;
	text-shadow: 1px 2px 2px $gray-darker;
	}
.article-featured:not(.x) hgroup.article-title h2 a {
	color: white;
	}
.article-featured hgroup.article-meta.above {
	display: none;
	}

.article-featured:not(.x) hgroup.article-title h2:before {
	
	font-weight: bold;
	font-size: 1rem;
	background: black;
	xxbackground: #5e6a71;
	background: #2a3033;
	color: $gray-darker;
	background: $gray-lightly;
	background: white;
	display: inline-block;
	position: absolute;
	bottom: calc(100% + 5px);
	padding: 2px 4px;
	text-transform: uppercase;
	line-height: 1em;
	text-shadow: none;
	box-shadow: 1px 2px 1px $gray-darker;
	}
	
.article-featured article.category-rockdoc hgroup.article-title h2:before,
.article-featured article.tag-rock-doc hgroup.article-title h2:before { content: "Rock Doc"; }

.article-featured article.category-askdruniverse hgroup.article-title h2:before,
.article-featured article.tag-dr-universe hgroup.article-title h2:before { content: "Ask Dr. Universe"; }

.article-featured article:first-of-type figure {
	display: none;
	}
div:not(.article-featured) article.has-thumbnail-image {
	display: -webkit-flex;
	}

div:not(.article-featured) .article-header {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	}
div:not(.article-featured) .article-header .article-meta {
	order: 1;
	-webkit-order: 1;
	}
div:not(.article-featured) .article-header .article-byline {
	order: 3;
	-webkit-order: 3;
	}
div:not(.article-featured) .article-header .article-title {
	order: 2;
	-webkit-order: 2;
	}
.article-featured .article-summary {
	padding-top: 1rem;
	display: none;
	}
	


.tagged-full-feature main section:first-of-type .column.two {
	width: 100%;
	clear: both;
	}