.main-body .articles article.has-post-thumbnail:first-of-type {

	background-color: $gray-lighter;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px -2rem 2rem -2rem;
	//margin: 0px 0rem 2rem 0rem;
	padding: 0px;
	height: 50vh;
	position: relative;

	.article-body,
	.article-summary {
		display: none;
	}
	
	.article-header {
		padding-left: 2rem;
		padding-right: 2rem;
	    background: linear-gradient(to bottom, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
	    background-size: auto !important;
	    box-sizing: border-box;
	    position: relative;
	    bottom: 0;
	    height: 100%;
	}
	
	.article-meta,
	.article-byline,
	.article-thumbnail,
	.article-footer,
	.article-summary {
		display: none;
	}
		
	.article-title {
		
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		
		h2 {
			
			font-family: "Open Sans", sans-serif;
			@include serif;
			color: white;
			padding-bottom: 1rem;
			//text-transform: uppercase;
			font-weight: normal;
			font-size: 3em;
			padding: 0;
			line-height: .9em;
	
	
			a {
				color: rgba(255, 255, 255, 0.9);
				text-shadow: -5px 0px 0px rgba(0, 0, 0, 0.25);
				padding-left: 2rem;
				padding-right: 20%;
				padding-bottom: 2rem;
				display: block;
				
				&::after {
					content: "Continued";
					color: white;
					position: absolute;
					right: 0;
					bottom: 0;
					background: rgba(0, 0, 0, 0.75);
					background: black;
					@include condensed;
					text-transform: uppercase;
					font-size: 16px;
					font-weight: bold;
					line-height: 1em;
					padding: 8px 16px;
				}
				
				&:hover::after {
					background: $crimson-dark;
				}
				
			} //a
			
			a:hover {
				color: white;
				text-shadow: -2px 0px 0px rgba(0, 0, 0, 1);
			}		

		} //h2
		
	} //.article-title
		
	article.category-rockdoc hgroup.article-title h2:before,
	article.tag-rock-doc hgroup.article-title h2:before {
		content: "Rock Doc";
	}
	
	article.category-askdruniverse hgroup.article-title h2:before,
	article.tag-dr-universe hgroup.article-title h2:before {
		content: "Ask Dr. Universe";
	}
	
	article:first-of-type figure {
		display: none;
	}
	
	.article-summary {
		padding-top: 1rem;
	}
	
	+ article {
		border-top: none;
		padding-top: 0;
	}

}

.section.crimson aside:before,
.section.yellow aside:before,
.section.blue aside:before,
.section.orange aside:before,
.section.green aside:before {
	
}


.tagged-full-feature main section:first-of-type .column.two {
	width: 100%;
	clear: both;
}
	
.section.yellow .articles article.has-post-thumbnail:first-of-type .article-title h2 a:hover::after { background: $yellow-darker; }
.section.green .articles article.has-post-thumbnail:first-of-type .article-title h2 a:hover::after { background: $green-darker; }
.section.orange .articles article.has-post-thumbnail:first-of-type .article-title h2 a:hover::after { background: $orange-darker; }
.section.blue .articles article.has-post-thumbnail:first-of-type .article-title h2 a:hover::after { background: $blue-darker; }