.sections {
	position: relative;
	}
.sections .section {
	background-color: #f9f9f9;
	background-repeat: repeat-x;
	background-position: left top;
	z-index: 100;
	box-sizing: border-box;
	position: absolute;
	}
.section.opened .section-title {
	display: none;
	}
.sections section:nth-of-type(1) {
	width: calc(100% + 0px);
	}
.sections .section:nth-of-type(2) {
	z-index: 80;
	width: calc(100% + 40px);
	}
.sections .section:nth-of-type(3) {
	z-index: 70;
	width: calc(100% + 80px);
	}
 .sections .section:nth-of-type(4) {
	z-index: 60;
	width: calc(100% + 120px);
	}
.sections .section:nth-of-type(5) {
	z-index: 50;
	width: calc(100% + 160px);
	}
	

	$flips: 1,2,3,4,5;
	
	@each $flip in $flips {
			
		 .verso-#{$flip} .size-lt-xxlarge {
			$flap: 0 - $flip;
			@each $flip in $flips {
				
				.section:nth-of-type(#{$flip}) {
					
					//width: calc(100% + #{( 40px * $flap )} );
				}
				$flap: $flap + 1;
			}
		}
	}
		
	.verso-1 .size-lt-xxlarge {
		padding-left: 40px;
		padding-left: 10px;
		padding-left: 0px;
	}
	
	.verso-2 .size-lt-xxlarge {
		padding-left: 80px;
		padding-left: 20px;
		padding-left: 0px;
	}
	
	.verso-3 .size-lt-xxlarge {
		padding-left: 120px;
		padding-left: 30px;
		padding-left: 0px;
	}
	
	.verso-4 .size-lt-xxlarge {
		padding-left: 160px;
		padding-left: 40px;
		padding-left: 0px;
	}
	
	.verso-5 .size-lt-xxlarge {
		padding-left: 200px;
		padding-left: 50px;
		padding-left: 0px;
	}


.size-gt-small .section.opened:not(:first-of-type) .section-header:hover:before {
	content: "\00ab";
	content: "\00bb";
	position: absolute;
	top: 50vh;
	right: 0px;
	left: 0px;
	height: 50px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 30px;
	text-align: center;
	padding-top: 15px;
	}
	
.size-gt-small .section-header {
	width: 40px;
	position: absolute;
	right: 0px;
	height: 100%;
	z-index: 200;
	}



x#spine #glue {
	box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.1);
	}
.section:not(.opened):not(.photo) .section-header {
	box-shadow: inset 5px 0px 0px 0px rgba(0, 0, 0, 0.1);
	}

.section.crimson .section-header {
	color: #b5babe;
	background: #981e32;
	}

.size-gt-small .section:not(.crimson) .section-header:not(.opened):hover {
	color: white;
	cursor: pointer;
	}
.section.yellow .section-header {
	background: #c7911b;
	color: #e5cd93;
	}
.xnews-section.yellow.opened .section-header {
	background: #9e7510;
	background: #d7b258;
	background: #ffb81c;
	}
.size-gt-small .section.yellow:not(.opened) .section-header:hover {
	color: white;
	background: #ffb81c;
	}
x.size-gt-small .section.yellow.opened .section-header:hover:before {
	background: #981e32; /* Crimson */
	}
	
.section.blue .section-header {
	xborder-left: 5px #4f868e solid;
	}
.section.blue .section-header {
	color: #d3e1e3;
	color: #aec7cb;
	background-color: #4f868e;
	}
.size-gt-small .section.blue:not(.opened) .section-header:hover {
	background: #00a5bd;
	}
x.size-gt-small .section.blue.opened .section-header:hover:before {
	background: #c69214; /* Yellow */
	}

.section.orange .section-header {
	xborder-left: 5px #8f7e35 solid;
	}
.section.orange .section-header {
	color: #8f7e35;
	color: #ddbea1;
	background-color: #b67233;
	}
.size-gt-small .section.orange:not(.opened) .section-header:hover {
	background: #f6861f;
	}
x.size-gt-small .section.orange.opened .section-header:hover:before {
	background: #4f868e; /* Blue */
	}
	
.section.green .section-header {
	color: #cbc4a2;
	background-color: #8f7e35;
	}
.size-gt-small .section.green:not(.opened) .section-header:hover {
	background: #ada400;
	}
x.size-gt-small .section.green.opened .section-header:hover:before {
	background: #b67233; /* Orange */
	}
	
.section-title {
	font-weight: 300;
	font-size: 2em;
	line-height: 1em;
	text-transform: uppercase;
	}
	
.size-gt-small .section-title {
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: right bottom;
	right: 2px;
	top: -25px;
	position: absolute;
	z-index: 100;
	}
	
.section-tabs .section-title {
	right: -7px;
	}
	
main article header .article-title {
	font-weight: 300;
	}

/* Section Tabs */

.size-gt-medium .section-tabs {
	position: fixed;
	margin-left: -396px;
	z-index: 999164;
	top: 0px;
	bottom: 0px;
	top: 0px;
	bottom: 0px;
	width: 200px;
	}
x.size-lt-xlarge.size-gt-small .section-tabs {
	position: relative;
	xleft: calc( 100% + 160px );
	margin-left: 792px;
	height: 100vh;
	float: left;
	width: 40px;
	}
	
.section-tabs .section-tab {
	width: 40px;
	float: right;
	height: 100%;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: inset -5px 0px 0px 0px rgba(0, 0, 0, .5);
	position: relative;
	display: none;
	}
.section-tabs .section-tab:hover {
	border-right-width: 0px;
	cursor: pointer;
	}

.section-tab.crimson {
	color: #981e32;
	border-right-color: #981e32;
	color: white;
	background: #981e32;
	box-shadow: inset -5px 0px 0px 0px rgba(82, 0, 14, 0.5);
	}
.section-tab.crimson:hover {
	color: white;
	background: #981e32;
	background: #c60c30;
	xborder-right-color: #6d1323;
	}
.section-tab.yellow {
	color: #c7911b;
	border-right-color: #c7911b;
	color: white;
	background: #c7911b;
	box-shadow: inset 5px 0px 0px 0px $yellow-dark;
	}
.size-gt-large .section-tab.yellow {
	box-shadow: inset -5px 0px 0px 0px $yellow-dark;
	}
.section-tab.yellow:hover {
	xcolor: white;
	background: #c7911b;
	background: #ffb81c;
	}
.section-tab.blue {
	color: #4f868e;
	border-right-color: #4f868e;
	background: #4f868e;
	color: white;
	box-shadow: inset 5px 0px 0px 0px $blue-dark;
	}
.section-tab.blue:hover {
	color: white;
	background: #4f868e;
	background: #00a5bd;
	xborder-right-color: #2f5055;
	}
.size-gt-large .section-tab.blue {
	box-shadow: inset -5px 0px 0px 0px $blue-dark;
	}
	
.section-tab.green {
	color: #8f7e35;
	border-right-color: #8f7e35;
	color: white;
	background: #8f7e35;
	box-shadow: inset -5px 0px 0px 0px rgba(86, 76, 32, 0.5);
	}
.section-tab.green:hover {
	color: white;
	background: #8f7e35;
	background: #ada400;
	xborder-right-color: #564c20;
	}
.section-tab.orange {
	color: #b67233;
	border-right-color: #b67233;
	color: white;
	background: #b67233;
	box-shadow: inset -5px 0px 0px 0px rgba(109, 68, 31, 0.5);
	}
.section-tab.orange:hover {
	color: white;
	background: #b67233;
	background: #f6861f;
	xborder-right-color: #6d441f;
	}
	
.section-tabs .section-header {
	display: block;
	}
	

	
/* Sections */


@import 'sides';