@import '../global/vars';

.sections {
	position: relative;
	
	}
	
.sections > .column.one {
	//width: 1000px !important;
}

.sections .section {
	background-repeat: repeat-x;
	background-position: left top;
	z-index: 100;
	box-sizing: border-box;
	//position: absolute;
	background-color: #f9f9f9;
	float: left;
	clear: none;
	}

.sections .section.opened {
	//position: absolute;;
	}
.sections .section.opened ~ section {
	//margin-left: -693px;
	}
.section.opened .section-title {
	display: none;
	}
	
$sections: 1,2,3,4,5;

@each $section in $sections {
		
	.size-gt-small .sections .section:nth-of-type(#{$section}) {
		z-index: 100 - ( 10 * $section);
		width: calc(528px + #{( 33px * ( $section - 1 ) )} );
		margin-right: #{( -528px - ( 33px * ( $section - 1 ) ) )};
	}
	
}

@each $section in $sections {
		
	.size-gt-medium .sections .section:nth-of-type(#{$section}) {
		width: calc(594px + #{( 33px * ( $section - 1 ) )} );
		margin-right: #{( -594px - ( 33px * ( $section - 1 ) ) )};
	}
	
}

.hybrid .row.margin-right .column.one {
	//width: 100%;
}

.sections .section.opened {
	margin-left: 0px;
	}
	

	$flips: 1,2,3,4,5;
	
	@each $flip in $flips {
			
		 .verso-#{$flip} .size-lt-xxlarge {
			$flap: 0 - $flip;
			@each $flip in $flips {
				
				.section:nth-of-type(#{$flip}) {
					
					//width: calc(100% + #{( 40px * $flap )} );
				}
				$flap: $flap + 1;
			}
		}
	}

.size-gt-small {
		
	.verso-1 #binder {
		margin-left: 33px;
	}
	
	.verso-2 #binder {
		margin-left: 66px;
	}
	
	.verso-3 #binder {
		margin-left: 99px;
	}
	
	.verso-4 #binder {
		margin-left: 122px;
	}
	
	.verso-5 #binder {
		margin-left: 155px;
	}
	
}


.section.opened:not(.crimson) .section-header:hover .rotate:before {
	content: "\00ab";
	content: "\00bb";
	content: "\21E5";
	//@include condensed;
	font-weight: 300;
	display: block;
	position: absolute;
	top: 0;
	transform: rotate(-90deg);
	left: 50%;
	bottom: auto;
	right: auto;
	width: 33px;
	height: 33px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 25px;
	text-align: center;
	//border-color: white;
	//border-width: 1px 1px 0 0;
	//border-style: solid;
}

.section-header {
	width: 33px;
	position: absolute;
	left: 100%;
	height: 100vh;
	z-index: 200;
}

.section:not(.crimson):not(.photo):not(.opened) .section-header .rotate {
	box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, .2);
}

/* Crimson */
.section.crimson .section-header {
	color: #b5babe;
	background: #981e32;
	}

.section:nth-of-type(2) .section-header:not(.opened):hover,
.section:nth-of-type(3) .section-header:not(.opened):hover,
.section:nth-of-type(4) .section-header:not(.opened):hover,
.section:nth-of-type(5) .section-header:not(.opened):hover {
	color: white;
	cursor: pointer;
	}

.section-title {
	font-weight: 300;
	font-weight: bold;
	@include condensed;
	font-size: 1.9em;
	line-height: 1em;
	text-transform: uppercase;
	padding-left: 20px;
	padding-top: 3px;
	display: block;
}

.section-tab .section-title {
	padding-top: 0;
}
	
.size-gt-medium .main-body .sections .section-tab {
	position: relative;
	}

.size-gt-small .main-body .sections .rotate {
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: left bottom;
	display: block;
	position: relative;
	top: -33px;
	z-index: 100;
	height: 33px;
	width: 100vh;
	}

.size-gt-small .main-body .sections section:not(.lain-left) .section-header .rotate {
	position: fixed;	
}
	
.size-gt-medium .main-body .sections .section-header .relative .section-title {
	position: static;
}

/* Crimson */

.crimson {

	.section-header .rotate {
		background: $crimson;
	}
	
	.main-body & .section-header .section-title {
		display: none;
	}
	
	.section-title {
		color: darken($crimson-dark, 10%);
		color: $crimson-dark;
	}

}

/* Yellow */


.yellow {
	
	.section-header,
	.section-header .rotate {
		background: #c7911b;
	}
	
	.section-title {
		color: #e5cd93;
		color: $yellow-dark;
	}
	
	a {
		color: $yellow;
	}
	
	a:hover {
		color: $yellow-er;
	}

}

.section.yellow:not(.opened) .section-header .rotate:hover {
	background: $yellow-er;
	//background: $yellow-dark;
}

/* Blue */

.blue {
	
	.section-header,
	.section-header .rotate {	
		background-color: #4f868e;
	}
		
	.section-title {
		color: #aec7cb;
		color: $blue-dark;
	}
	
	&:not(.opened) .section-header .rotate:hover {
		background: $blue-er;
		//background: $blue-dark;
	}
	
	a {
		color: $blue;
	}
	
	a:hover {
		color: $blue-er;
	}

}

/* Orange */

.orange {

	.section-header,
	.section-header .rotate {
		background-color: #b67233;
	}
	
	.section-title {
		color: #ddbea1;
		color: $orange-dark;
	}
	
	&:not(.opened) .section-header .rotate:hover {
		background: $orange-er;
		//background: $orange-dark;
	}
	
	a {
		color: $orange;
	}
	
	a:hover {
		color: $orange-er;
	}

}

/* Green */

.green {

	.section-header,
	.section-header .rotate {
		background-color: #8f7e35;
	}
		
	.section-title {
		color: #cbc4a2;
		color: $green-dark;
	}
		
	&:not(.opened) .section-header .rotate:hover {
		background: #ada400;
	}
	
	a {
		color: $green;
	}
	
	a:hover {
		color: $green-er;
	}

}

/* Gray - Photo */	

.section.photo .section-header {
	color: white;
	}

.photo .section-header .section-title {
	color: $gray-light;
	}

.photo:hover .section-header .section-title {
	color: $gray-lightest;
	}
	
.section .section-header:hover .section-title,
.section-tabs .section-tab:hover .section-title {
	//color: white;
	}


/* Section Tabs */

.size-lt-large .section-tabs {
	margin-left: -200px;
	width: 200px;
	top: 50px;
	}
	
body[class*="verso-"] .size-gt-medium .section-tabs {
	background: $crimson;
	width: 800px;
	margin-left: -996px;
}

body.verso-1 .size-gt-medium .section-tabs:hover {
	//background: $crimson-er;
}
	
.section-tabs {
	
	position: fixed;
	margin-left: -996px;
	z-index: 999164;
	top: 0px;
	bottom: 0px;
	top: 0px;
	bottom: 0px;
	
	.section-tab {
		
		width: 33px;
		float: right;
		height: 100%;
		top: 0px;
		bottom: 0px;
		overflow: hidden;
		box-sizing: border-box;
		box-shadow: inset -5px 0px 0px 0px rgba(0, 0, 0, .5);
		position: relative;
		display: none;
		
		&:hover {
			border-right-width: 0px;
			cursor: pointer;
		}
		
		&.crimson {
			color: #981e32;
			border-right-color: #981e32;
			color: white;
			background: #981e32;
			box-shadow: inset -5px 0px 0px 0px rgba(82, 0, 14, 0.5);
		}
		
		&.crimson:hover {
			//color: white;
			background: #c60c30;
		}
		
		&.yellow {
			color: #c7911b;
			border-right-color: #c7911b;
			color: white;
			background: #c7911b;
			box-shadow: inset 5px 0px 0px 0px $yellow-dark;
			box-shadow: inset -5px 0px 0px 0px $yellow-dark;
			}
			
		&.yellow:hover {
			background: #c7911b;
			background: #ffb81c;
		}
		
		&.blue {
			color: #4f868e;
			border-right-color: #4f868e;
			background: #4f868e;
			color: white;
			box-shadow: inset 5px 0px 0px 0px $blue-dark;
			box-shadow: inset -5px 0px 0px 0px $blue-dark;
		}
		
		&.blue:hover {
			color: white;
			background: #00a5bd;
		}
		
		&.green {
			color: #8f7e35;
			border-right-color: #8f7e35;
			color: white;
			background: #8f7e35;
			box-shadow: inset -5px 0px 0px 0px rgba(86, 76, 32, 0.5);
		}
		
		&.green:hover {
			color: white;
			background: #ada400;
		}
		
		&.orange {
			color: #b67233;
			border-right-color: #b67233;
			color: white;
			background: #b67233;
			box-shadow: inset -5px 0px 0px 0px rgba(109, 68, 31, 0.5);
		}
		
		&.orange:hover {
			color: white;
			background: #b67233;
			background: #f6861f;
		}
		
	}

	.section-header,
	.section-title {
		display: block;
	}
	
}
	
/* Sections */

@import 'sides';