.section aside {
	float: right !important;
	width: 198px;
	min-height: 100px;
	height: 100%;
	display: block;
	
	}
.size-lt-xlarge .section.crimson aside {
	display: none;
	}
	
.section aside:before,
.size-lt-xlarge .section.crimson .section-header:before {
	content: "news";
	font-size: 8em;
	line-height: 1em;
	top: 0px;
	right: 200px;
	right: calc(100% - 10px);
	position: absolute;
	text-transform: uppercase;
	font-family: "Open Sans Condensed";
	font-weight: bold;
	z-index: 100;
	}
.section.crimson .section-header:before {
	color: $crimson;
	}

.size-lt-medium .section aside:before {
	display: none;
	}

.size-lt-medium .section-title {
	font-size: 8rem;
	text-transform: uppercase;
	font-family: "Open Sans Condensed";
	font-weight: bold;
	}

.section aside .recent,
.section aside .popular {
	overflow: visible;
	}
.section aside .recent header,
.section aside .popular header {
	padding-bottom: 5px !important;
	}
.section aside .recent li,
.section aside .popular li {
	border-top: 1px rgba(0, 0, 0, 0.2) solid;
	padding-top: 3px;
	padding-bottom: 5px !important;
	}
	
.cbold {
	font-family: "Open Sans Condensed";
	font-weight: bold;
	}
.ucase {
	text-transform: uppercase;
	}
.section-side {
	padding: 0px 40px 0px 1rem;
	}
.section-side ul {
	padding: 25px 0;
	max-width: 100%;
	overflow: hidden;
	}
.section-side ul ul {
	padding: 0;
	}
.section-side ul ~ ul {
	padding-top: 0px;
	}

	
.section-side > ul > li,
.section-side ul header {
	list-style: none;
	font-size: 1.8em;
	font-weight: 300;
	line-height: 1.2em;
	color: white;
	padding: 0;
	margin: 0;
	}
.section-side li a {
	color: white;
	display: inline-block;
	}
.section-side li a:hover {
	padding: 2px 4px;
	margin: -2px -4px;
	}
.section-side ul header {
	font-family: "Open Sans Condensed";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1rem;
	display: block; 
	}
.section-side ul header ~ li {
	font-size: .9rem;
	font-weight: normal;
	padding-top: .3rem;
	}
	

// Crimson
.crimson .section-side li a {
	color: white;
	}
.crimson .section-side ul ul li,
.crimson .section-side ul ul li a {
	color: #d7dadb;
	}

.section.crimson aside ul li a,
.section.crimson aside ul header {
	color: $gray-lighter;
	}

.section.crimson aside li a:hover {
	color: white;
	background: $crimson-dark;
	}


.section.crimson aside {
	background: $crimson;
	}
.section.crimson aside:before,
.section.crimson .article-title a {
	color: $crimson;
	}
.section.crimson aside hr {
	background: $crimson-dark;
	display: none;
	}

// Yellow
.section.yellow aside {
	background: $yellow;
	}
.section.yellow aside:before,
.section.yellow .article-title a {
	color: #c69214;
	}
.section.yellow aside:before {
	content: "Locales";
	}
.section.yellow aside li a {
	color: $yellow-lighter;
	display: inline-block;
	}
.section.yellow aside li a:hover {
	color: white;
	background: $yellow-dark;
	}
.section.yellow hr {
	background: $yellow-lighter;
	}
x.section.news-section aside .cat-item-146 {
	font-size: 1.5em;
	white-space: nowrap;
	}

// Orange
.section.orange aside {
	background: $orange;
	}
.section.orange aside:before,
.section.orange .article-title a {
	color: #b67233;
	}
.section.orange aside:before {
	content: "Events";
	}
.section.orange aside li a {
	color: $yellow-lightest;
	}
.section.orange aside li a:hover {
	color: white;
	background: $yellow-dark;
	}

// Blue
.section.blue aside {
	background: $blue;
	}
.section.blue aside:before,
.section.blue .article-title a {
	color: #4f868e;
	}
.section.blue aside:before {
	content: "Press";
	}
.section.blue aside li a {
	color: $blue-lightest;
	display: inline-block;
	}
.section.blue aside li a:hover {
	color: white;
	background: $blue-dark;
	}

// Green
.section.green aside {
	background: $green;
	}
.section.green aside:before,
.section.green .article-title a {
	color: #8f7e35;
	}
.section.green aside:before {
	content: "People";
	}
.section.green aside li a {
	color: $green-lightest;
	display: inline-block;
	}
.section.green aside li a:hover {
	color: white;
	color: white;
	background: $green-dark;
	}
