.section aside {
	float: right !important;
	width: 198px;
	min-height: 100px;
	height: 100%;
	display: block;
	}

.size-lt-xlarge.size-gt-medium .section.crimson aside {
	display: none;
	}
	
.section-side:before,
.size-large .main-body .section.crimson .section-header:before {
	content: "news";
	font-size: 8em;
	line-height: 1em;
	top: 0px;
	right: 200px;
	right: calc(100% - 10px);
	position: absolute;
	text-transform: uppercase;
	font-family: "Open Sans Condensed";
	font-weight: bold;
	z-index: 100;
	text-shadow: -5px 0px 0px rgba(0, 0, 0, 0.25);
	}
.section.crimson .section-header:before {
	color: $crimson;
	}

.section-side {
	
	padding: 15px 0 0 1rem;
	
	.recent,
	.popular {
		overflow: visible;
		}
	
	.recent header,
	.popular header {
		padding-bottom: 5px !important;
		}
	
	.recent li,
	.popular li {
		border-top: 1px rgba(0, 0, 0, 0.2) solid;
		padding-top: 3px;
		padding-bottom: 5px !important;
		}
	
	ul {
		padding: 0 0 25px 0;
		max-width: 100%;
		// overflow: hidden;
		}
		
	ul ul {
		padding: 0;
		}
		
	ul ~ ul {
		padding-top: 0px;
		}
		
	.ul {
		padding: 0;
		margin: 0;
		}
		
	li {
		list-style: none;
		}
		
	.menu li,
	ul header {
		list-style: none;
		font-size: 1.4em;
		font-weight: 300;
		line-height: 1em;
		color: white;
		padding: 0;
		margin: 0;
		}
		
	.menu li a {
		color: white;
		display: inline-block;
		padding: 5px 0;
		}
	
	.menu li a:hover,
	ul.menu > li.current > a {
		padding: 7px 4px;
		margin: -2px -4px;
		}
		
	header {
		font-family: "Open Sans Condensed";
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1rem;
		display: block;
		color: #dddddd;
		}
		
	header ~ ul {
		margin-top: 0;
	}
		
	ul:not(.menu) li {
		font-size: .9rem;
		line-height: 1em;
		font-weight: normal;
		padding-top: .3rem;
	}
	
}

.section .section-side ul:not(.menu) li a:before {
	content: "";
	width: 8px;
	height: 8px;
	margin-right: 3px;
	margin-bottom: 1px;
	display: inline-block;
	color: white;
	background: white;
	}
	

// Crimson
.crimson .section-side li a {
	color: #d7dadb;
	}
.crimson .section-side li a:hover {
	color: white;
	}

.section.crimson aside ul li a,
.section.crimson aside ul header {
	color: $gray-lighter;
	}

.section.crimson aside .menu li a:hover {
	color: white;
	background: $crimson-dark;
	}

.section.crimson aside {
	background: $crimson;
	}
.section.crimson aside:before {
	color: $crimson;
	}
.section.crimson aside hr {
	background: $crimson-dark;
	display: none;
	}
.section.crimson aside header {
	color: $crimson-dark;
	color: $gray-lightly;
	}
.section.crimson .section-side ul:not(.menu) li a::before {
	background-color: $crimson-dark;
	background-color: $gray-lighter;
	}
.section.crimson .section-side ul:not(.menu) li a:hover::before {
	background-color: $gray-lightly;
	}

// Yellow
.section.yellow aside {
	background: $yellow;
	}
.section.yellow aside:before {
	color: #c69214;
	}
.section.yellow aside:before {
	content: "Local";
	}
.section.yellow aside li a {
	color: $yellow-lighter;
	display: inline-block;
	}
.section.yellow aside .menu li a:hover {
	color: white;
	background: $yellow-dark;
	}
.section.yellow hr {
	background: $yellow-lighter;
	}
.section.yellow aside header {
	color: $yellow-darker;
	}
.section.yellow aside header {
	color: $yellow-dark;
	}
.section.yellow .section-side ul:not(.menu) li a:before {
	background-color: $yellow-dark;
	}
#menu-local li:nth-of-type(5):before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: $yellow-light;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	}

// Orange
.section.orange {
	
	aside {
		background: $orange;
	}
	
	aside:before {
		color: #b67233;
	}
	
	aside:before {
		content: "Athletics";
	}
	
	aside li a {
		color: $orange-lightly;
	}
	
	aside li a:hover {
		color: white;
		background: $orange-dark;
	}
	
	aside header {
		color: $orange-darker;
	}
	
}


.section.events {
	
	.section-side ul:not(.menu) li a:before {
		background-color: $blue-darker;
		display: none;
	}
	
	.content-item-event-date {
		color: $blue;
		//background-color: $blue-dark;
		float: right;
		width: 30px;
		text-align: center;
		text-align: left;
		display: block;
		font-weight: bold;
		padding: 3px 0 3px 3px;
		height: 100%;
		color: $blue-dark;
		border-left: 5px $blue-dark solid;
		margin-left: 3px;
	}
	
	.content-item-event-title {
		clear: both;
		
		a {
			color: $blue-lighter;
		}
		
		a:hover {
			background: transparent;
		}
		
	}
	
	.content-item-event-meta {
		font-size: .8em;
		color: $blue-darker;
	}
	
	.content-item-event-venue {
		display: block;
		
	}
	
}


// Blue
.section.blue aside {
	background: $blue;
	}
.section.blue aside:before {
	color: #4f868e;
	}
.section.blue aside:before {
	content: "Events";
	}
.section.blue aside li a {
	color: $blue-lightest;
	display: inline-block;
	}
.section.blue aside li a:hover {
	color: white;
	background: $blue-dark;
	}

// Green

.section.green {
	
	aside {
		background: $green;
	}
	
	aside:before {
		color: #8f7e35;
	}
	
	aside:before {
		content: "People";
	}
	
	aside li a {
		color: $green-lightly;
		display: inline-block;
	}
	
	aside li a:hover,
	aside ul.menu > li.current > a,
	aside ul.menu li li.current > a {
		color: white;
		background: $green-dark;
	}
	
	aside header {
		color: $green-darker;
	}
	
	.section-side ul:not(.menu) li a:before {
		background: $green-dark;
	}
	
}

/* Side Sections */
.side-sections li {
	border-top: none;
	list-style: none;
	}
.side-sections li a {
	font-weight: 300;
	font-size: 2rem;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	display: block;
	line-height: 1.2em;
	}
.side-sections ul {
	margin-top: 5px;
	}
.side-sections li.crimson a {
	color: #981e32;
	border-bottom-color: #981e32;
	}
.side-sections li.yellow a {
	color: #c69214;
	border-top-color: #c69214;
	}
.side-sections li.blue a {
	color: #4f868e;
	border-top-color: #4f868e;
	}
.side-sections li.orange a {
	color: #b67233;
	border-top-color: #b67233;
	}
.side-sections li.green a {
	color: #8f7f35;
	border-top-color: #8f7f35;
	}
.side-sections li li {
	xdisplay: none;
	display: inline-block;
	}
.side-sections ul ul li ~ li {
	list-style: disc;
	}
.side-sections li.crimson li a,
.side-sections li.yellow li a,
.side-sections li.blue li a,
.side-sections li.orange li a,
.side-sections li.green li a,
.side-sections li.green li a,
aside.widget li a {
	font-size: 1rem;
	color: gray;
	border-bottom: none;
	display: block;
	}
.side-sections li li a:hover,
aside.widget li a:hover {
	color: #981e32;
	color: #2a3033;
	}
